<!DOCTYPE html>
<html>
<head>
    <title>Services</title>
    <style>
        h1 {
            color: green;
            text-align: center;
            margin-top: 20px;        }
    </style>
</head>
<body>
    <h1>{{category}} Services</h1>
</body>
</html>